.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  min-width: 20px !important;
  min-height: 20px !important;
  width: 80% !important;
  height: auto !important;
  border-radius: 10px !important;
}

.logoPadding {
  line-height: 0.5rem;
  display: none;
  padding-left: 0.5rem;
}

$navbar-underline-width: 85%;

.navbar {
  padding: 0;
  margin: 1rem 1rem 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;

  li {
    margin: 0 0.15rem;

    &:first-child {
      margin-right: auto;
      margin-left: 0.8rem;

      a:after {
        width: 0 !important;
      }
    }

    a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      font-size: 0.8rem;
      display: inline-block;
      padding: 5px;
      position: relative;
      transition: 0.1s ease-in-out;

      &:after {
        background: none repeat scroll 0 0 white;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: calc((100% - $navbar-underline-width)/2);
        position: absolute;
        width: 0;
        transition: 0.3s ease;
      }
    }
  }
}

.selected:after, .navbar li a:hover:after {
  width: $navbar-underline-width !important;
}


@media (min-width: 576px) {
  .container {
    justify-content: flex-end;
  }

  .navbar {
    margin: 1.5rem 1.5rem 0 0;

    li a {
      font-size: 1.2rem;
      margin: 0 1rem;
    }
  }

  .logoPadding {
    display: inline-block;
  }
}

@media (min-width: 772px) {
  .navbar li a {
    font-size: 1.3rem;
  }
}
